
.activity-info img{
    border-radius: 20px;
}
.profile{
    display: flex;
    /* justify-content: space-between; */
}
.activity-info h3{
    font-weight: 600;
    padding-left: 7px;
}
.activity-info{
    background-color: rgb(222, 217, 217);
        position: sticky;
        top: 0;
        padding: 20px 10px;
        height: 94vh;
        /* width: 360px; */
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgb(191, 176, 176);
    margin-top: 20px;
    background-color: rgb(246, 243, 243);
    border-radius: 5px;
}
.per-info{
    display: block;
    line-height: 10px;
    display: flex;
    /* margin: 0px; */
}
.per-info h2{
    margin: 0px;
}
.kg{
    color: gray;
    font-size: 15px;
    /* font-style: bold; */
}

.add-break h3{
    margin: 20px 5px 8px 5px;
    text-align: center;
}
.break{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
}
.break button{
    padding: 12px;
    border-radius: 30px;
}
.break button:hover{
    background-color: pink;
}
.exercise-brk-time{
    background-color: white;
    padding: 1px 10px;
    margin-top: 15px;
    /* display: inline; */
    border-radius: 10px;
}
.btn-act{
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(245, 172, 184);
    border: none;
    border-radius: 10px;

}
.btn-act:hover{
    background-color: white;
}
.tottal-time{
    padding-left: 100px;
}
@media screen and (max-width: 688px){
    .activity-info{
        width: 360px;
        overflow: hidden;
        width: 100%;
    }
}