.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0px 40px;
    margin-top: 40px;
}
.exercise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.activity img{
    width: 70px;
}